mixin selectLang(name, label, languages)
  div
    label(for='#{name}') #{label}
    select(id='#{name}', name='#{name}')
      -for(var i = 0; i < languages.length; i++){
        option(value="#{languages[i]}") #{languages[i]}
      -}
